fastapi
uvicorn[standard]

python-dotenv
python-multipart

sqlalchemy
psycopg2-binary

passlib[bcrypt]
python-jose[cryptography]

pydantic
pydantic-settings

langchain
langchain-core
langchain-community
langchain-groq

groq

sentence-transformers
transformers
torch
faiss-cpu
chromadb

spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

numpy
pandas
scikit-learn
scipy

pdfplumber
python-docx
PyPDF2

beautifulsoup4
requests
feedparser

opencv-python
mediapipe

joblib

httpx

tqdm

pillow

python-dateutil

typing-extensions